@import 'tailwindcss';
@import './theme/font-size.css';
@import './utilities/layout.css';
@import './utilities/typography.css';
@import './satoshi.css';

/* Root theme variables */
:root {
  --background: theme(colors.slate.50);
  --foreground: theme(colors.neutral.800);
  --font-sans: "Satoshi", "Satoshi Placeholder", sans-serif;
}

body {
  background: linear-gradient(
    to bottom,
  #ffffff 0%,
  #a193e5 40%,
  #fefeff 100%
  );
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  @apply text-base antialiased;
}

/* Optional cursor blink animation */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-start infinite;
  display: inline-block;
}