@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.main-app {
  @apply overflow-hidden;
  background: linear-gradient(
    to bottom,
  #ffffff 0%,
  #a193e5 40%,
  #fefeff 100%
  );
}

.animate-blink {
  animation: blink 1s step-start infinite;
  display: inline-block;
}